.App{
background-color: aquamarine;
text-align: center;

}
.clpro{
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
}
.COL{
  display: flex;
  justify-content: space-around;
}
h2,p {
  width:400px;
}